#page-wrapper {
    font-family: 'Roboto', sans-serif;
    padding-bottom: 100px;
    padding-top: 100px;
}
* {
    box-sizing: border-box;
}
.add-event-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.add-event-text p {
    font-weight: 600;
}
.add-event-input-wrapper {
    max-width: 490px;
}
.add-event-input {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.add-event-input label,input {
    display: block;
}
.add-event-input input {
    width: 230px;
    background: #F5F5F5;
    outline: none;
    border-radius: 2px;
    border: 1px solid #DBD7D2;
    padding: 5px;
    margin-top: 3px;
}
.input-wrap {
    padding-top: 5px;
}
.input-wrap label span {
    font-size: 11px;
    /*font-weight: 600;*/
}
.add-event-button-wrapper {
    padding-top: 18px;
    display: flex;
    justify-content: flex-end;
}
.add-event-button {
    height: 25px;
    width: 116px;
    display: flex;
    justify-content: center;
    background: #F36223;
    align-items: center;
    border-radius: 2px;
}
.add-event-button p {
    color: white;
    display: block;
    text-transform: uppercase;
    font-size: 9px;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.event-list-wrapper {
    display: flex;
    justify-content: center;
}
.event-list {
    width: 350px;
    border: 1px solid #DBD7D2;
    display: flex;
    flex-direction: column;
    height: 400px;
}
.event-list-start {
    background: #DBD7D2;
    display: flex;
    justify-content: center;
    min-width: 350px;
}
.event-list-start p {
    padding: 10px;
    font-weight: 600;
}
.event-list-info {
    display: flex;
    justify-content: space-between;
}
.event-list-date-wrapper {
    display: flex;
    padding-right: 2px;
}
.event-list-button-edit {
    width: 100%;
    height: 100%;
    background: url(./../images/edit.png) no-repeat;
    background-size: cover;;
}
.event-list-button-delete {
    width: 100%;
    height: 100%;
    background: url(./../images/cancel.png) no-repeat;
    background-size: cover;
}
.event-list-button-edit-wrapper {
    width: 18px;
    height: 18px;
    margin-right: 10px
}
.event-list-button-delete-wrapper {
    width: 18px;
    height: 18px;
}
.event-list-time-start {
padding-right: 2px;
}
.event-list-buttons-wrapper {
    display: flex;
}
.event-list-time-buttons-wrapper {
    display: flex;
}
.event-list-info-wrapper {
    padding: 10px;
}
.event-list-container {
    display: flex;
    justify-content: space-evenly;
}

.start-time {
    width: 70px;
    border: none;
}
.end-time {
    width: 70px;
    border: none;
}
.end-time2 {
    width: 70px;
    background: #F5F5F5;
    border: 1px solid #DBD7D2;
    outline: none;
}
.start-time2 {
    width: 70px;
    background: #F5F5F5;
    border: 1px solid #DBD7D2;
    outline: none;
}
.event-list-button-check-wrapper {
    width: 18px;
    height: 18px;
}
.event-list-button-check {
    width: 100%;
    height: 100%;
    background: url(./../images/check-symbol.png) no-repeat;
    background-size: cover;
}
.container-for-info {
    display: flex;
    flex-direction: column;
}
.date-select-container {
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
    padding-bottom: 50px;
}
.date-select-container select{
    background: #F5F5F5;
    outline: none;
    border-radius: 2px;
    border: 1px solid #DBD7D2;
    padding: 5px;
}